body {
    font-family: 'Inter',sans-serif;
}

.hook p, blockquote {
    font-size: 16px;
}

/* .tentang-kami {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
} */

.tentang-kami:hover {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px)
            /*rotate(0deg)*/
        ;
    }

    80% {
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.img-slides {
    opacity: 0.7;
}