{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Hotel{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Hotel</h3>
    <div class="card-panel">
        <form class="col s12" id="hotel-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" name="kodeHotel" id="kodeHotel" type="text" class="" readonly>
                    <label for="kodeHotel">Kode Hotel</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input name="nama" id="nama" type="text" class="validate">
                    <label for="nama">Nama Hotel</label>
                </div>
            </div>
            <p class="blue-text text-darken-2">Alamat:</p>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="jalan" id="jalan" type="text" class="validate">
                    <label for="jalan">Jalan</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="kelurahan" id="kelurahan" type="text" class="validate">
                    <label for="kelurahan">Kelurahan</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="kecamatan" id="kecamatan" type="text" class="validate">
                    <label for="kecamatan">Kecamatan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="kabupaten" id="kabupaten" type="text" class="validate">
                    <label for="kabupaten">Kabupaten/ Kota</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="provinsi" id="provinsi" type="text" class="validate">
                    <label for="provinsi">Provinsi</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">check</i>
                    <label>
                        <input id="rujukan" name="rujukan" type="checkbox" />
                        <span>Rujukan?</span>
                    </label>
                </div>
            </div>
            <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
            <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Hotel
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'hotel/js/hotel.js' %}"></script>
{% endblock scripts %}