{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Hotel{% endblock title %}

{% block content %}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Hotel</h5>
        <blockquote id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <form class="col s12" id="hotel-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" name="kodeHotel" id="kodeHotel" type="text" class="" readonly>
                    <label for="kodeHotel">Kode Hotel</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input name="nama" id="nama" type="text" class="validate">
                    <label for="nama">Nama Hotel</label>
                </div>
            </div>
            <p class="blue-text text-darken-2">Alamat:</p>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="jalan" id="jalan" type="text" class="validate">
                    <label for="jalan">Jalan</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="kelurahan" id="kelurahan" type="text" class="validate">
                    <label for="kelurahan">Kelurahan</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="kecamatan" id="kecamatan" type="text" class="validate">
                    <label for="kecamatan">Kecamatan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="kabupaten" id="kabupaten" type="text" class="validate">
                    <label for="kabupaten">Kabupaten/ Kota</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">place</i>
                    <input name="provinsi" id="provinsi" type="text" class="validate">
                    <label for="provinsi">Provinsi</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">check</i>
                    <label>
                        <input id="rujukan" name="rujukan" type="checkbox" />
                        <span>Rujukan?</span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Hotel</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No.</th>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Rujukan</th>
                    <th>Alamat</th>
                    {% if request.session.peran == 'admin' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="table-body">
                {% for data in hotel %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>
                        {% if data.2 == '1' %}
                        <i class="material-icons">check</i>
                        {% else %}
                        <i class="material-icons">close</i>
                        {% endif %}
                    </td>
                    <td>{{ data.3 }}</td>
                    {% if request.session.peran == 'admin' %}
                    <td>
                        <a href="#modal1" class="modal-trigger waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'hotel/js/hotel.js' %}"></script>
{% endblock scripts %}