{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Transaksi Makan{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Transaksi Makan</h3>
    <div class="card-panel">
        <form class="col s12" id="transaksiMakan-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="idt" id="idt-select">
                        <option value="" disabled selected>Pilih...</option>
                        {% for data in datas %}
                        <option value="{{data.0}}">{{data.0}}</option>
                        {% endfor %}
                    </select>
                    <label>ID Transaksi</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input placeholder="" name="idtm" id="idtm" type="text" class="validate" disabled>
                    <label for="idtm">ID Transaksi Makan</label>
                </div>
            </div>
            <p class="blue-text text-darken-2">Pesanan:</p>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" id="kodeHotel" name="kodeHotel" type="text" class="validate" disabled>
                    <label for="kodeHotel">Kode Hotel</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="kodePaket" id="kodePaket-select" multiple>
                        <option value="" disabled selected>Pilih...</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Kode Paket</label>
                </div>
            </div>
        </form>

        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
        <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Transaksi Makan
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'transaksiMakan/js/transaksiMakan.js' %}"></script>
{% endblock scripts %}