{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Transaksi Makan{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Transaksi Makan</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No.</th>
                    <th>ID Transaksi Hotel</th>
                    <th>ID Transaksi</th>
                    <th>Tanggal Bayar</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for data in datas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>{{ data.2 }}</td>
                    <td>
                        <a class="waves-effect waves-light btn-small detail-btn modal-trigger">Detail</a>

                        {% if request.session.peran == 'admin_satgas' %}
                        <a class="waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-small waves-effect waves-light red delete-btn">
                            <i class="material-icons">delete</i>
                        </a>
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}