{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Reservasi Hotel{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Reservasi Hotel</h3>
    <div class="card-panel">
        <form class="col s12" id="reservasiHotel-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">list</i>
                    <select name="nik" id="nik-select">
                        <option value="" disabled selected>Pilih...</option>
                        {% for nik in niks %}
                        <option value="{{nik.0}}">{{nik.1}}: {{nik.0}}</option>
                        {% endfor %}
                    </select>
                    <label>NIK Pasien</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">hotel</i>
                    <select name="kodeHotel" id="kodeHotel-select">
                        <option value="" disabled selected>Pilih...</option>
                        {% for kode in kodeHotel %}
                        <option value="{{kode.0}}">{{kode.0}}</option>
                        {% endfor %}
                    </select>
                    <label>Kode Hotel</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">hotel</i>
                    <select name="kodeRuangan" id="kodeRuangan-select">
                        <option value="" disabled selected>Pilih...</option>
                    </select>
                    <label>Kode Ruangan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="Masukkan tanggal" id="tanggal_masuk" name="tanggal_masuk" type="text"
                        class="datepicker">
                    <label for="tanggal">Tanggal Masuk</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="Masukkan tanggal" id="tanggal_keluar" name="tanggal_keluar" type="text"
                        class="datepicker">
                    <label for="tanggal">Tanggal Keluar</label>
                </div>
            </div>
        </form>

        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
        <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Reservasi Hotel
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'reservasiHotel/js/reservasiHotel.js' %}"></script>
{% endblock scripts %}