{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Reservasi Hotel{% endblock title %}

{% block content %}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Reservasi Hotel</h5>
        <blockquote id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
        <form class="col s12" id="reservasiHotel-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input placeholder="" id="nik" name="nik" type="text" class="validate" disabled>
                    <label for="nik">NIK Pasien</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" id="kodeHotel" name="kodeHotel" type="text" class="validate" disabled>
                    <label for="kodeHotel">Kode Hotel</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" id="kodeRuangan" name="kodeRuangan" type="text" class="validate" disabled>
                    <label for="kodeRuangan">Kode Ruangan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="" id="tanggal_masuk" name="tanggal_masuk" type="text" class="validate" disabled>
                    <label for="tanggal_masuk">Tanggal Masuk</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="Masukkan tanggal" id="tanggal_keluar" name="tanggal_keluar" type="text"
                        class="datepicker">
                    <label for="tanggal_keluar">Tanggal Keluar</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Reservasi Hotel</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No.</th>
                    <th>NIK Pasien</th>
                    <th>Tanggal Masuk</th>
                    <th>Tanggal Keluar</th>
                    <th>Kode Hotel</th>
                    <th>Ruangan</th>
                    {% if request.session.peran == 'admin_satgas' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="table-body">
                {% for data in datas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 | date:'Y-m-d' }}</td>
                    <td>{{ data.2 | date:'Y-m-d' }}</td>
                    <td>{{ data.3 }}</td>
                    <td>{{ data.4 }}</td>
                    {% if request.session.peran == 'admin_satgas' %}
                    <td>
                        <a href="#modal1" class="modal-trigger waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-small waves-effect waves-light red delete-btn">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'reservasiHotel/js/reservasiHotel.js' %}"></script>
{% endblock scripts %}