{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Appointment{% endblock title %}

{% block content %}
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Buat Appointement</h5>
        <p id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
            Silahkan masukkan data NIK pasien.
        </p>
        <form class="col s12" id="appointment-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment_ind</i>
                    <select name="nik" id="nik-select">
                        <option value="" disabled selected>Pilih NIK Pasien...</option>
                    </select>
                    <label>NIK Pasien</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input placeholder="" name="no_str" id="no_str" type="text" class="validate" disabled>
                    <label for="no_str">No.STR</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">people</i>
                    <input placeholder="" name="username" id="username" type="text" class="validate" disabled>
                    <label for="username">Username Dokter</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">local_hospital</i>
                    <input placeholder="" name="kode_faskes" id="kode_faskes" type="text" class="validate" disabled>
                    <label for="kode_faskes">Faskes</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">filter_tilt_shift</i>
                    <input placeholder="" id="shift" name="shift" type="text" class="validate" disabled>
                    <label for="shift">Shift</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="" id="tanggal" name="tanggal" type="text" class="validate" disabled>
                    <label for="tanggal">Tanggal</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Ya, Tambahkan
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Appointment</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No</th>
                    <th>No STR</th>
                    <th>Dokter</th>
                    <th>Kode Faskes</th>
                    <th>Shift</th>
                    <th>Tanggal</th>
                    <th>Buat Appointment</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for jadwal in jadwals %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ jadwal.0 }}</td>
                    <td>{{ jadwal.1 }}</td>
                    <td>{{ jadwal.2 }}</td>
                    <td>{{ jadwal.3 }}</td>
                    <td>{{ jadwal.4 | date:'Y-m-d' }}</td>
                    <td>
                        <a href="#modal1"
                            class="waves-effect waves-light btn-small modal-trigger lime tambah-btn"><i
                                class="material-icons">add</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'memeriksa/js/memeriksa.js' %}"></script>
{% endblock scripts %}