{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Appointment{% endblock title %}

{% block content %}
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Buat Appointement</h5>
        <p id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
            Silahkan masukkan rekomendasi untuk pasien.
        </p>
        <form class="col s12" id="appointment-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input placeholder="" name="nik" id="nik" type="text" class="validate">
                    <label for="nik">NIK Pasien</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">people</i>
                    <input placeholder="" name="username" id="username" type="text" class="validate" disabled>
                    <label for="username">Username Dokter</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">local_hospital</i>
                    <input placeholder="" name="kode_faskes" id="kode_faskes" type="text" class="validate" disabled>
                    <label for="kode_faskes">Faskes</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">filter_tilt_shift</i>
                    <input placeholder="" id="shift" name="shift" type="text" class="validate" disabled>
                    <label for="shift">Shift</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="" id="tanggal" name="tanggal" type="text" class="validate" disabled>
                    <label for="tanggal">Tanggal</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">text_fields</i>
                    <textarea name="rekomendasi" id="rekomendasi" class="materialize-textarea"></textarea>
                    <label for="rekomendasi">Rekomendasi</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Appointment</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No</th>
                    <th>NIK Pasien</th>
                    <th>Email Dokter</th>
                    <th>Faskes</th>
                    <th>Shift</th>
                    <th>Tanggal</th>
                    <th>Rekomendasi</th>
                    {% if request.session.peran != 'pengguna_publik' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="table-body">
                {% for appointement in appointements %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ appointement.0 }}</td>
                    <td>{{ appointement.2 }}</td>
                    <td>{{ appointement.3 }}</td>
                    <td>{{ appointement.4 }}</td>
                    <td>{{ appointement.5 | date:'Y-m-d' }}</td>
                    <td>{{ appointement.6 }}</td>
                    <td>
                        {% if request.session.peran == 'dokter' %}
                        <a href="#modal1" class="waves-effect waves-light modal-trigger btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                        {% endif %}

                        {% if request.session.peran == 'admin_satgas' %}
                        <a class="btn-small waves-effect waves-light red delete-btn">
                            <i class="material-icons">delete</i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'memeriksa/js/memeriksa.js' %}"></script>
{% endblock scripts %}