{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Transaksi Booking Hotel{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Transaksi Booking Hotel</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No.</th>
                    <th>ID Transaksi</th>
                    <th>Total Bayar</th>
                    <th>Kode Pasien</th>
                    <th>Tanggal Masuk</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for data in datas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>{{ data.2 }}</td>
                    <td>{{ data.3 | date:'Y-m-d' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}