{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Transaksi Hotel{% endblock title %}

{% block content %}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Transaksi Hotel</h5>
        <blockquote id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <form class="col s12" id="transaksiHotel-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input placeholder="" name="nik" id="nik" name="nik" type="text" class="validate" disabled>
                    <label for="nik">NIK Pasien</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input placeholder="" name="idTransaksi" id="idTransaksi" name="idTransaksi" type="text" class="validate" disabled>
                    <label for="idTransaksi">ID Transaksi</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="" id="tanggal_bayar" name="tanggal_bayar" type="text" class="validate" disabled>
                    <label for="tanggal_bayar">Tanggal Pembayaran</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">access_time</i>
                    <input placeholder="" id="waktu_bayar" name="waktu_bayar" type="text" class="validate" disabled>
                    <label for="waktu_bayar">Waktu Pembayaran</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">attach_money</i>
                    <input placeholder="" id="biaya" name="biaya" type="text" class="validate" disabled>
                    <label for="biaya">Total Biaya</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="status" id="status-select">
                        <option value="" disabled selected>Pilih...</option>
                        <option value="Lunas">Lunas</option>
                        <option value="Belum Lunas">Belum Lunas</option>
                    </select>
                    <label>Status Bayar</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Transaksi Hotel</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No.</th>
                    <th>ID Transaksi</th>
                    <th>Kode Pasien</th>
                    <th>Tanggal Pembayaran</th>
                    <th>Waktu Pembayaran</th>
                    <th>Total Bayar</th>
                    <th>Status Bayar</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for data in datas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>{{ data.2 | date:'Y-m-d' }}</td>
                    <td>{{ data.2 | date:'Y-m-d' }} {{ data.3 | time:"H:i:s" }}</td>
                    <td>{{ data.4 }}</td>
                    <td>{{ data.5 }}</td>
                    <td>
                        <a href="#modal1" class="modal-trigger waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'transaksiHotel/js/transaksiHotel.js' %}"></script>
{% endblock scripts %}