{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Ruangan Hotel{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Ruangan Hotel</h3>
    <div class="card-panel">
        <form class="col s12" id="ruanganHotel-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="kodeHotel" id="kodeHotel-select">
                        <option value="" disabled selected>Pilih...</option>
                        {% for kode in kodeHotel %}
                        <option value="{{kode.0}}">{{kode.0}}</option>
                        {% endfor %}
                    </select>
                    <label>Kode Hotel</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="Diisi oleh sistem" name="kodeRuangan" id="kodeRuangan" type="text"
                        class="validate" disabled>
                    <label for="kodeRuangan">Kode Ruangan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="Masukkan jenis bed" name="jenisBed" id="jenisBed" type="text" class="validate">
                    <label for="jenisBed">Jenis Bed</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">library_books</i>
                    <input placeholder="Masukkan tipe ruangan" name="tipe" id="tipe" type="text" class="validate">
                    <label for="tipe">Tipe Ruangan</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">attach_money</i>
                    <input placeholder="Masukkan harga ruangan" name="harga" id="harga" type="text" class="validate">
                    <label for="harga">Harga Ruangan</label>
                </div>
            </div>
        </form>
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
        <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Ruangan Hotel
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'ruanganHotel/js/ruanganHotel.js' %}"></script>
{% endblock scripts %}