{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Ruangan Hotel{% endblock title %}

{% block content %}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Ruangan Hotel</h5>
        <blockquote id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <form class="col s12" id="ruanganHotel-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" name="kodeHotel" id="kodeHotel" type="text"
                        class="validate" disabled>
                    <label for="kodeHotel">Kode Hotel</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" name="kodeRuangan" id="kodeRuangan" type="text"
                        class="validate" disabled>
                    <label for="kodeRuangan">Kode Ruangan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="Masukkan jenis bed" name="jenisBed" id="jenisBed" type="text" class="validate">
                    <label for="jenisBed">Jenis Bed</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">library_books</i>
                    <input placeholder="Masukkan tipe ruangan" name="tipe" id="tipe" type="text" class="validate">
                    <label for="tipe">Tipe Ruangan</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">attach_money</i>
                    <input placeholder="Masukkan harga ruangan" name="harga" id="harga" type="text" class="validate">
                    <label for="harga">Harga Ruangan</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Ruangan Hotel</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No.</th>
                    <th>Kode Hotel</th>
                    <th>Kode Ruangan</th>
                    <th>Jenis Bed</th>
                    <th>Tipe</th>
                    <th>Harga</th>
                    {% if request.session.peran == 'admin' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="table-body">
                {% for room in rooms %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{room.0}}</td>
                    <td>{{room.1}}</td>
                    <td>{{room.2}}</td>
                    <td>{{room.3}}</td>
                    <td>{{room.4}}</td>
                    {% if request.session.peran == 'admin' %}
                    <td>
                        <a href="#modal1" class="modal-trigger waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-small waves-effect waves-light red delete-btn">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'ruanganHotel/js/ruanganHotel.js' %}"></script>
{% endblock scripts %}