{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Paket Makan{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Paket Makan</h3>
    <div class="card-panel">
        <form class="col s12" id="paketMakan-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="kodeHotel" id="kodeHotel-select">
                        <option value="" disabled selected>Pilih...</option>
                        {% for data in datas %}
                        <option value="{{data.0}}">{{data.0}}</option>
                        {% endfor %}
                    </select>
                    <label>Kode Hotel</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">local_dining</i>
                    <input placeholder="Masukkan kode paket" name="kodePaket" id="kodePaket" type="text" class="validate">
                    <label for="kodePaket">Kode Paket</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">local_dining</i>
                    <input placeholder="Masukkan nama paket" name="namaPaket" id="namaPaket" type="text" class="validate">
                    <label for="namaPaket">Nama Paket</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">attach_money</i>
                    <input placeholder="Masukkan harga paket makan" name="harga" id="harga" type="text" class="validate">
                    <label for="harga">Harga Paket Makan</label>
                </div>
            </div>
        </form>
        <div id="loader"></div>
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
        <div>
            <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Paket Makan
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'paketMakan/js/paketMakan.js' %}"></script>
{% endblock scripts %}