{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Paket Makan{% endblock title %}

{% block content %}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Paket Makan</h5>
        <blockquote id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <form class="col s12" id="paketMakan-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" name="kodeHotel" id="kodeHotel" type="text"
                        class="validate" disabled>
                    <label for="kodeHotel">Kode Hotel</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">local_dining</i>
                    <input placeholder="" name="kodePaket" id="kodePaket" type="text"
                        class="validate" disabled>
                    <label for="kodePaket">Kode Paket</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">local_dining</i>
                    <input placeholder="Masukkan nama paket" name="namaPaket" id="namaPaket" type="text"
                        class="validate">
                    <label for="namaPaket">Nama Paket</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">attach_money</i>
                    <input placeholder="Masukkan harga paket makan" name="harga" id="harga" type="text"
                        class="validate">
                    <label for="harga">Harga Paket Makan</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Paket Makan</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No.</th>
                    <th>Hotel</th>
                    <th>Kode Paket</th>
                    <th>Nama Paket</th>
                    <th>Harga</th>
                    {% if request.session.peran == 'admin' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="table-body">
                {% for data in datas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>{{ data.2 }}</td>
                    <td>{{ data.3 }}</td>
                    {% if request.session.peran == 'admin' %}
                    <td>
                        <a href="#modal1" class="modal-trigger waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-small waves-effect waves-light red delete-btn">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'paketMakan/js/paketMakan.js' %}"></script>
{% endblock scripts %}