{% extends "base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="{{description}}">
{% endblock seo %}

{% block css %}
<link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
{% endblock css%}

{% block title %}Homepage{% endblock title %}

{% block content %}
<section id="header-slides">
    <div class="slider">
        <ul class="slides">
            <li>
                <img class="img-slides" src="{% static 'img/slides1.jpeg' %}"> <!-- random image -->
                <div class="caption right-align">
                    <h3 class="">Sistem Informasi Rujukan COVID-19</h3>
                    <h5 class="light grey-text text-lighten-3">Sistem Informasi ini menyediakan
                        informasi yang diperlukan bagi pasien maupun pihak lain.</h5>
                    
                    {% if  request.session.username == "" %}
                    <a href="#tentang" class="btn waves-effect waves-light btn-large  green darken-1">Pelajari lebih
                        lanjut</a>
                    {% endif %}
                </div>
            </li>
            <li>
                <img class="img-slides"  src="{% static 'img/slides2.jpeg' %}"> <!-- random image -->
                <div class="caption center-align">
                    <h3 class="">Sistem yang Sudah Terintegrasi</h3>
                    <h5 class="light grey-text text-lighten-3 ">Hal ini membantu pihak dokter dan
                        petugas lainnya dalam memberikan informasi yang valid dan cepat.</h5>

                    {% if  request.session.username == "" %}
                    <a href="#tentang" class="btn waves-effect waves-light btn-large green darken-1">Pelajari lebih
                        lanjut</a>
                    {% endif %}
                    
                </div>
            </li>
        </ul>
    </div>
</section>
<section id="tentang">
    <div class="section teal darken-1 white-text center scrollspy">
        <div class="row container">
            <div class="col s12 tentang-kami">
                <h3 class="">Tentang Kami</h3>
                <div class="row">
                    <div class="col l6 s12 left-align">
                        <h5>Latar Belakang</h5>
                        <p class="white-text">Merebaknya pandemi SARS-CoV-2 (COVID-19) di wilayah Indonesia
                            memotivasi pemerintah Indonesia, khususnya Satuan Tugas (Satgas) Penangan Covid-19, untuk
                            mengembangkan
                            sistem informasi rujukan pasien Covid-19</p>
                    </div>
                    <div class="col l6 s12 left-align">
                        <h5>Tujuan</h5>
                        <p class="white-text">SIRUCO dibuat untuk memberikan kemudahan bagi pasien pengidap
                            covid yang membutuhkan penanganan khusus. Sistem informasi ini menyediakan informasi mengenai
                            ketersediaan ruang rawat inap pada fasilitas kesehatan yang bisa digunakan untuk merawat
                            pasien covid bergejala dan tempat isolasi mandiri bagi pasien tanpa gejala</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pengguna">
    <div class="container">
        <div class="row">
            <div class="col s12 m3">
                <div class="card-panel center-align">
                    <i class="material-icons medium green-text">desktop_mac</i>
                    <h5>Admin</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                    <a class="btn-floating  waves-effect waves-light red btn-register"><i
                            class="material-icons">add</i></a>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-panel center-align">
                    <i class="material-icons medium green-text">local_hospital</i>
                    <h5>Dokter</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                    <a class="btn-floating  waves-effect waves-light red btn-register"><i
                            class="material-icons">add</i></a>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-panel center-align">
                    <i class="material-icons medium green-text">laptop_windows</i>
                    <h5>Admin Satgas</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                    <a class="btn-floating  waves-effect waves-light red btn-register"><i
                            class="material-icons">add</i></a>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-panel center-align">
                    <i class="material-icons medium green-text">account_circle</i>
                    <h5>Publik</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                    <a class="btn-floating  waves-effect waves-light red btn-register"><i
                            class="material-icons">add</i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}

{% endblock content %}

{% block scripts %}
<script src="{% static 'homepage/js/homepage.js' %}"></script>
{% endblock scripts %}

