{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Jadwal Dokter{% endblock title %}

{% block content %}
{% csrf_token %}
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Apakah anda yakin ingin membuat jadwal?</h5>
        <blockquote id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
            Jadwal yang telah dibuat tidak dapat diubah ataupun dihapus.
        </blockquote>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Ya, Tambahkan
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Jadwal</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Kode Faskes</th>
                    <th>Shift</th>
                    <th>Tanggal</th>
                    <th>Buat Jadwal</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for jadwal in jadwals %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ jadwal.0 }}</td>
                    <td>{{ jadwal.1 }}</td>
                    <td>{{ jadwal.2 | date:'Y-m-d' }}</td>
                    <td>
                        <a href="#modal1" class="waves-effect waves-light btn-small modal-trigger light-green tambah-btn"><i
                        class="material-icons">add</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'jadwalDokter/js/jadwal.js' %}"></script>
{% endblock scripts %}