{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Jadwal Dokter{% endblock title %}

{% block content %}
<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Jadwal Dokter</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>No STR</th>
                    <th>Dokter</th>
                    <th>Kode Faskes</th>
                    <th>Shift</th>
                    <th>Tanggal</th>
                    <th>Jumlah Pasien</th>
                </tr>
            </thead>
            <tbody id="table-jadwal">
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'jadwalDokter/js/listJadwal.js' %}"></script>
{% endblock scripts %}