{% extends "base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="">
{% endblock seo %}

{% block css %}
<link rel="stylesheet" href="{% static 'pengguna/css/style.css' %}">
{%endblock css%}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container">
    <h3 class="login center-align green-text text-darken-2">Login</h3>
    <div class="card-panel">
        <div class="row">
            <img class="materialboxed col s12 m6" width="650" src="{% static 'img/login.jpg' %}">
            <form class="col s12 m6" id="signup-form">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input placeholder="Masukkan username anda" name="username" id="username" type="text"
                            class="validate" data-length="50">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input placeholder="Masukkan password anda" id="password" name="password" type="password"
                            class="validate" data-length="20">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div id="loader"></div>
                <blockquote id="message" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
                <p class="grey-text text-darken-2" style="margin-bottom: 30px;">Belum punya akun? Silahkan <a
                        href="{% url 'pengguna:register' %}">Registrasi</a>.</p>
                <button class="btn waves-effect waves-light" type="button" id="btn-login">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'pengguna/js/pengguna.js' %}"></script>
<script src="{% static 'formValidator.js' %}"></script>
{% endblock scripts %}