{% extends "base.html" %}
{% load static %}

{% block seo %}
<meta name="description" content="">
{% endblock seo %}

{% block css %}
<link rel="stylesheet" href="{% static 'pengguna/css/style.css' %}">
{%endblock css%}

{% block title %}Register{% endblock title %}

{% block content %}
<div class="container">
    <h3 class="login center-align green-text text-darken-2">Register</h3>
    <div class="card-panel">
        <div class="row">
            <div class="slider col s12 m6">
                <ul class="slides">
                    <li>
                        <img class="img-slides"  src="{% static 'img/pengguna_publik.jpg' %}">
                        <div class="caption center-align">
                            <h2 class="teal-text text-teal">Pengguna Publik</h2>
                        </div>
                    </li>
                    <li>
                        <img class="img-slides"  src="{% static 'img/admin.jpg' %}">
                        <div class="caption left-align">
                            <h2 class="teal-text text-teal">Admin</h2>
                        </div>
                    </li>
                    <li>
                        <img class="img-slides"  src="{% static 'img/admin_satgas.jpg' %}">
                        <div class="caption right-align">
                            <h2 class="teal-text text-teal">Admin Satgas</h2>
                        </div>
                    </li>
                    <li>
                        <img class="img-slides" src="{% static 'img/dokter.jpg' %}">
                        <div class="caption center-align">
                            <h2 class="teal-text text-teal">Dokter</h2>
                        </div>
                    </li>
                </ul>
            </div>
            <form class="col s12 m6" id="signup-form">
                {% csrf_token %}
                <div class="input-field col s12">
                    <i class="material-icons prefix">people</i>
                    <select name="role" id="role-select">
                        <option value="" disabled selected>Pilih...</option>
                        <option value="admin">Admin</option>
                        <option value="admin_satgas">Admin Satgas</option>
                        <option value="dokter">Dokter</option>
                        <option value="pengguna_publik">Pengguna Publik</option>
                    </select>
                    <label>Peran</label>
                </div>
                <div id="role-form" class="col s12"></div>
                <div id="loader"></div>
                <button class="btn waves-effect waves-light" type="button" id="btn-register" style="margin-top: 10px;">Register
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'pengguna/js/register.js' %}"></script>
<script src="{% static 'pengguna/js/pengguna.js' %}"></script>
{% endblock scripts %}