<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input name="username" id="username" type="text" class="validate inputan" data-length="50">
        <label for="first_name">Username</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" name="password" type="password"
            class="validate inputan" data-length="20">
        <label for="password">Password</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" name="nama" id="nama" type="text" class="validate">
        <label for="icon_prefix">Nama</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" id="no_telp" name="no_telp" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="icon_prefix" name="nik" id="nik" type="text" class="validate">
        <label for="icon_prefix">NIK</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">assignment_ind</i>
        <input id="icon_prefix" name="no_str" id="no_str" type="text" class="validate">
        <label for="icon_prefix">No.STR</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" name="gelar_depan" id="gelar_depan" type="text" class="validate">
        <label for="icon_prefix">Gelar Depan</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_telephone" id="gelar_belakang" name="gelar_belakang" type="tel" class="validate">
        <label for="icon_telephone">Gelar Belakang</label>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">code</i>
        <select name="kode_faskes" id="kode_faskes">
            <option value="" disabled selected>Pilih...</option>
        </select>
        <label>Pilih Kode Faskes</label>
    </div>
</div>
