{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Reservasi RS{% endblock title %}

{% block content %}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Reservasi RS</h5>
        <form class="col s12" id="reservasiRS-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_id</i>
                    <input placeholder="" name="nik" id="nik" type="text" class="validate" disabled>
                    <label for="nik">NIK Pasien</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <input placeholder="" name="kodeRS" id="kodeRS" type="text" class="validate" disabled>
                    <label for="kodeRS">Kode RS</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="" name="tanggal_masuk" id="tanggal_masuk" type="text" class="validate" disabled>
                    <label for="tanggal_masuk">Tanggal Masuk</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="Masukkan tanggal" id="tanggal_keluar" name="tanggal_keluar" type="text"
                        class="datepicker">
                    <label for="tanggal_keluar">Tanggal Keluar</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">room</i>
                    <input placeholder="" name="kodeRuangan" id="kodeRuangan" type="text" class="validate" disabled>
                    <label for="kodeRuangan">Kode Ruangan</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" name="kodeBed" id="kodeBed" type="text" class="validate" disabled>
                    <label for="kodeBed">Kode Ruangan</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Reservasi RS</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No</th>
                    <th>NIK Pasien</th>
                    <th>Tanggal Masuk</th>
                    <th>Tanggal Keluar</th>
                    <th>Rumah Sakit</th>
                    <th>Ruangan</th>
                    <th>Bed</th>
                    {% if request.session.peran == 'admin_satgas' %}
                    <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="table-body">
                {% for data in data1 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 | date:'Y-m-d' }}</td>
                    <td>{{ data.2 | date:'Y-m-d' }}</td>
                    <td>{{ data.3 }}</td>
                    <td>{{ data.4 }}</td>
                    <td>{{ data.5 }}</td>
                    {% if request.session.peran == 'admin_satgas' %}
                    <td>
                        <a href="#modal1" class="modal-trigger waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                
                {% for data in data2 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 | date:'Y-m-d' }}</td>
                    <td>{{ data.2 | date:'Y-m-d' }}</td>
                    <td>{{ data.3 }}</td>
                    <td>{{ data.4 }}</td>
                    <td>{{ data.5 }}</td>
                    {% if request.session.peran == 'admin_satgas' %}
                    <td>
                        <a href="#modal1" class="modal-trigger waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-small waves-effect waves-light red delete-btn">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'reservasiRS/js/reservasiRS.js' %}"></script>
{% endblock scripts %}