{% load static %}

<ul id="dropdown1" class="dropdown-content">
    <li><a href="">Profile</a></li>
    <li><a href="{% url 'pengguna:logout' %}">Log out</a></li>
</ul>

<!-- Admin -->
<ul id="dropdown2" class="dropdown-content">
    <li><a href="{% url 'hotel:buatHotel' %}">Buat Hotel</a></li>
    <li><a href="{% url 'hotel:listHotel' %}">List Hotel</a></li>
    <li><a href="{% url 'ruanganHotel:buatRuanganHotel' %}">Buat Ruangan Hotel</a></li>
    <li><a href="{% url 'ruanganHotel:listRuanganHotel' %}">List Ruangan Hotel</a></li>
    <li><a href="{% url 'paketMakan:buatPaketMakan' %}">Buat Paket Makan</a></li>
    <li><a href="{% url 'paketMakan:listPaketMakan' %}">List Paket Makan</a></li>
</ul>

<!-- Pengguna Publik -->
<ul id="dropdown3" class="dropdown-content">
    <li><a href="{% url 'pasien:daftar_pasien' %}">Pendaftaran</a></li>
    <li><a href="{% url 'pasien:list_pasien' %}">List Pasien</a></li>
    <li><a href="{% url 'memeriksa:buat_appointment' %}">Buat Appointment</a></li>
    <li><a href="{% url 'memeriksa:list_appointment' %}">List Appointment</a></li>
</ul>
<ul id="dropdown4" class="dropdown-content">
    <li><a href="{% url 'jadwalDokter:listJadwal' %}">List Jadwal Dokter</a></li>
    <li><a href="{% url 'reservasiRS:listReservasiRS' %}">List Reservasi RS</a></li>
</ul>
<ul id="dropdown5" class="dropdown-content">
    <li><a href="{% url 'hotel:listHotel' %}">List Hotel</a></li>
    <li><a href="{% url 'ruanganHotel:listRuanganHotel' %}">List Ruangan Hotel</a></li>
    <li><a href="{% url 'paketMakan:listPaketMakan' %}">List Paket Makan</a></li>
    <li><a href="{% url 'reservasiHotel:buatReservasiHotel' %}">Buat Reservasi Hotel</a></li>
    <li><a href="{% url 'reservasiHotel:listReservasiHotel' %}">List Reservasi Hotel</a></li>
</ul>
<ul id="dropdown6" class="dropdown-content">
    <li><a href="{% url 'transaksiHotel:listTransaksiBooking' %}">List Transaksi Booking Hotel</a></li>
    <li><a href="{% url 'transaksiMakan:buatTransaksiMakan' %}">Buat Transaksi Makan dan Daftar Pesan</a></li>
    <li><a href="{% url 'transaksiMakan:listTransaksiMakan' %}">List Transaksi Makan dan Daftar Pesan</a></li>
</ul>

<!-- Admin Satgas -->
<ul id="dropdown7" class="dropdown-content">
    <li><a href="{% url 'memeriksa:buat_appointment' %}">Buat Appointment</a></li>
    <li><a href="{% url 'memeriksa:list_appointment' %}">List Appointment</a></li>
</ul>
<ul id="dropdown8" class="dropdown-content">
    <li><a href="{% url 'faskes:buatFaskes' %}">Buat Faskes</a></li>
    <li><a href="{% url 'faskes:listFaskes' %}">List Faskes</a></li>
    <li><a href="{% url 'faskes:buatJadwalFaskes' %}">Buat Jadwal Faskes</a></li>
    <li><a href="{% url 'faskes:listJadwalFaskes' %}">List Jadwal Faskes</a></li>
</ul>
<ul id="dropdown9" class="dropdown-content">
    <li><a href="{% url 'rumahSakit:buatRumahSakit' %}">Buat RS</a></li>
    <li><a href="{% url 'rumahSakit:listRumahSakit' %}">List RS</a></li>
    <li><a href="{% url 'jadwalDokter:listJadwal' %}">List Jadwal Dokter</a></li>
    <li><a href="{% url 'ruanganRS:buat_ruanganRS' %}">Buat Ruangan RS</a></li>
    <li><a href="{% url 'ruanganRS:list_ruanganRS' %}">List Ruangan RS</a></li>
    <li><a href="{% url 'ruanganRS:buat_bedRS' %}">Buat Bed RS</a></li>
    <li><a href="{% url 'ruanganRS:list_bedRS' %}">List Bed RS</a></li>
    <li><a href="{% url 'reservasiRS:buatReservasiRS' %}">Buat Reservasi RS</a></li>
    <li><a href="{% url 'reservasiRS:listReservasiRS' %}">List Reservasi RS</a></li>
</ul>
<ul id="dropdown10" class="dropdown-content">
    <li><a href="{% url 'hotel:listHotel' %}">List Hotel</a></li>
    <li><a href="{% url 'ruanganHotel:listRuanganHotel' %}">List Ruangan Hotel</a></li>
    <li><a href="{% url 'paketMakan:listPaketMakan' %}">List Paket Makan</a></li>
    <li><a href="{% url 'reservasiHotel:buatReservasiHotel' %}">Buat Reservasi Hotel</a></li>
    <li><a href="{% url 'reservasiHotel:listReservasiHotel' %}">List Reservasi Hotel</a></li>
</ul>
<ul id="dropdown11" class="dropdown-content">
    <li><a href="{% url 'transaksiRS:listTransaksiRS' %}">List Transaksi RS</a></li>
    <li><a href="{% url 'transaksiHotel:listTransaksiHotel' %}">List Transaksi Hotel</a></li>
    <li><a href="{% url 'transaksiHotel:listTransaksiBooking' %}">List Transaksi Booking Hotel</a></li>
    <li><a href="{% url 'transaksiMakan:buatTransaksiMakan' %}">Buat Transaksi Makan dan Daftar Pesan</a></li>
    <li><a href="{% url 'transaksiMakan:listTransaksiMakan' %}">List Transaksi Makan dan Daftar Pesan</a></li>
</ul>

<!-- Dokter -->
<ul id="dropdown12" class="dropdown-content">
    <li><a href="{% url 'memeriksa:list_appointment' %}">List Appointment</a></li>
</ul>
<ul id="dropdown13" class="dropdown-content">
    <li><a href="{% url 'jadwalDokter:daftarJadwal' %}">Buat Jadwal Dokter</a></li>
    <li><a href="{% url 'jadwalDokter:listJadwal' %}">List Jadwal Dokter</a></li>
</ul>

<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper teal lighten-1">
        <div class="container">  
            <a href="{% url 'homepage:homepage' %}" class="brand-logo">SIRUCO</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <!-- Dropdown Trigger -->
                {% if request.session.peran == 'admin' %}
                <li><a class="dropdown-trigger" href="" data-target="dropdown2">Hotel<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}

                {% if request.session.peran == 'pengguna_publik' %}
                <li><a class="dropdown-trigger" href="" data-target="dropdown3">Pasien<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown4">Rumah Sakit<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown5">Hotel<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown6">Transaksi<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}

                {% if request.session.peran == 'admin_satgas' %}
                <li><a class="dropdown-trigger" href="" data-target="dropdown7">Pasien<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown8">Faskes<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown9">Rumah Sakit<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown10">Hotel<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown11">Transaksi<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}

                {% if request.session.peran == 'dokter' %}
                <li><a class="dropdown-trigger" href="" data-target="dropdown12">Pasien<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger" href="" data-target="dropdown13">Rumah Sakit<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}

                    
                    
                {% if request.session.username != "" %}
                <li><a class="dropdown-trigger" href="" data-target="dropdown1">Hallo, {{request.session.username}}<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}
                {% if request.session.username == "" %}
                <li><a href="{%  url 'pengguna:login' %}" class="" href="">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="">Sass</a></li>
    <li><a href="">Components</a></li>
    <li><a href="">Javascript</a></li>
    <li><a href="">Mobile</a></li>
    <li class="divider"></li>
    <li><a href="">one</a></li>
    <li><a href="">two</a></li>
    <li><a href="">three</a></li>
</ul>
