{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Bed RS{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Bed RS</h3>
    <div class="card-panel">
        <form class="col s12" id="bedRS-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">list</i>
                    <select name="kodeRS" id="kodeRS-select">
                        <option value="" disabled selected>Pilih Kode RS...</option>
                        {% for kode in kodeRS %}
                        <option value="{{kode.0}}">{{kode.0}}</option>
                        {% endfor %}
                    </select>
                    <label>Kode RS</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">room</i>
                    <select name="kodeRuangan" id="kodeRuangan-select">
                        <option value="" disabled selected>Pilih...</option>
                    </select>
                    <label>Kode Ruangan</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="Diisi oleh sistem" name="kodeBed" id="kodeBed" type="text"
                        class="validate" disabled>
                    <label for="kodeRuangan">Kode Bed</label>
                </div>
            </div>
            <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
            </blockquote>
            <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Bed
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'ruanganRS/js/bedRS.js' %}"></script>
{% endblock scripts %}