{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Ruangan RS{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Ruangan RS</h3>
    <div class="card-panel">
        <h6 class="black-text text-black">Masukkan data ruangan RS.</h6>
        <form class="col s12" id="ruanganRS-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="kodeRS" id="kodeRS-select">
                        <option value="" disabled selected>Pilih Kode RS...</option>
                        {% for kode in kodeRS %}
                        <option value="{{kode.0}}">{{kode.0}}</option>
                        {% endfor %}
                    </select>
                    <label>Kode RS</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">room</i>
                    <input placeholder="Diisi oleh sistem" name="kodeRuangan" id="kodeRuangan" type="text" class="validate" disabled>
                    <label for="kodeRuangan">Kode Ruangan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">library_books</i>
                    <input placeholder="Masukkan tipe ruangan" name="tipe" id="tipe" type="text" class="validate">
                    <label for="tipe">Tipe Ruangan</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">attach_money</i>
                    <input placeholder="Masukkan harga ruangan" name="harga" id="harga" type="text" class="validate">
                    <label for="harga">Harga Ruangan</label>
                </div>
            </div>
            <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
            </blockquote>
            <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Ruangan RS
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'ruanganRS/js/ruanganRS.js' %}"></script>
{% endblock scripts %}