{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Ruangan RS{% endblock title %}

{% block content %}
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Ruangan RS</h5>
        <form class="col s12" id="ruanganRS-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <input placeholder="" name="kodeRS" id="kodeRS" type="text"
                        class="validate" disabled>
                    <label for="kodeRS">Kode RS</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">room</i>
                    <input placeholder="" name="kodeRuangan" id="kodeRuangan" type="text"
                        class="validate" disabled>
                    <label for="kodeRuangan">Kode Ruangan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">library_books</i>
                    <input placeholder="Masukkan tipe ruangan" name="tipe" id="tipe" type="text" class="validate">
                    <label for="tipe">Tipe Ruangan</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">attach_money</i>
                    <input placeholder="Masukkan harga ruangan" name="harga" id="harga" type="text" class="validate">
                    <label for="harga">Harga Ruangan</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Ruangan RS</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No</th>
                    <th>Kode RS</th>
                    <th>Kode Ruangan</th>
                    <th>Tipe</th>
                    <th>Jumlah Bed</th>
                    <th>Harga</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for room in rooms %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ room.0 }}</td>
                    <td>{{ room.1 }}</td>
                    <td>{{ room.2 }}</td>
                    <td>{{ room.3 }}</td>
                    <td>{{ room.4 }}</td>
                    <td>
                        <a href="#modal1" class="waves-effect waves-light modal-trigger btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'ruanganRS/js/ruanganRS.js' %}"></script>
{% endblock scripts %}