{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Bed RS{% endblock title %}

{% block content %}
{% csrf_token %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Bed RS</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No</th>
                    <th>Kode Ruangan</th>
                    <th>Kode RS</th>
                    <th>Kode Bed</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for bed in beds %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ bed.0 }}</td>
                    <td>{{ bed.1 }}</td>
                    <td>{{ bed.2 }}</td>
                    <td>
                        <a class="btn-small waves-effect waves-light red delete-btn">
                            <i class="material-icons">delete</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'ruanganRS/js/bedRS.js' %}"></script>
{% endblock scripts %}