{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Edit Pasien{% endblock title %}

{% block content %}
{% csrf_token %}
<div class="container">
    <h3 class="login center-align green-text text-darken-2">Edit Pasien</h3>
    <div class="card-panel">
        <h6 class="black-text text-black">Masukkan data diri pasien.</h6>
        <form class="col s12" id="pasien-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input value="{{request.session.username}}" name="pendaftar" id="pendaftar" type="text"
                        class="validate" disabled>
                    <label for="icon_prefix">Pendaftar</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input value="{{nik}}" name="nik" id="nik" type="text" class="validate" readonly>
                    <label for="icon_prefix">NIK</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">account_circle</i>
                    <input value="{{nama}}" name="nama" id="nama" type="text" class="validate" disabled>
                    <label for="icon_prefix">Nama</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">phone</i>
                    <input id="no_telp" name="no_telp" type="tel" class="validate">
                    <label for="icon_telephone">No Telepon</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">contact_phone</i>
                    <input id="no_hp" name="no_hp" type="tel" class="validate">
                    <label for="icon_telephone">No HP</label>
                </div>
            </div>

            <h6 class="black-text text-black">Alamat (Sesuai KTP)</h6>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input name="jalan_ktp" id="jalan_ktp" type="text" class="validate">
                    <label for="icon_prefix">Jalan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="kel_ktp" id="kel_ktp" type="text" class="validate">
                    <label for="icon_prefix">Kelurahan</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input name="kec_ktp" id="kec_ktp" type="text" class="validate">
                    <label for="icon_prefix">Kecamatan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="kab_ktp" id="kab_ktp" type="text" class="validate">
                    <label for="icon_prefix">Kabupaten/Kota</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input name="prov_ktp" id="prov_ktp" type="text" class="validate">
                    <label for="icon_prefix">Provinsi</label>
                </div>
            </div>

            <h6 class="black-text text-black">Alamat (Domisili)</h6>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input name="jalan_dom" id="jalan_dom" type="text" class="validate">
                    <label for="icon_prefix">Jalan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="kel_dom" id="kel_dom" type="text" class="validate">
                    <label for="icon_prefix">Kelurahan</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input name="kec_dom" id="kec_dom" type="text" class="validate">
                    <label for="icon_prefix">Kecamatan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="kab_dom" id="kab_dom" type="text" class="validate">
                    <label for="icon_prefix">Kabupaten/Kota</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input name="prov_dom" id="prov_dom" type="text" class="validate">
                    <label for="icon_prefix">Provinsi</label>
                </div>
            </div>
            <div class="loader"></div>
            <button class="btn waves-effect waves-light" type="button" id="btn-edit">Edit Pasien
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'pasien/js/pasien.js' %}"></script>
{% endblock scripts %}