{% extends "base.html" %}
{% load static %}

{% block css %}

{% endblock css%}

{% block title %}List Pasien{% endblock title %}

{% block content %}
{% csrf_token %}
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4 id="detail-header"></h4>
        <div class="" id="loader-modal">
            <div class="indeterminate"></div>
        </div>
        <div>
            <div class="card-panel" id="detail-text"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button">TUTUP</button>
    </div> 
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Pasien</h3>
    <div class="card-panel">
        <div id="loader"></div>
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>NIK</th>
                    <th>Nama Pasien</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for pasien in dataPasien %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ pasien.0 }}</td>
                        <td>{{ pasien.1 }}</td>
                        <td>
                            <a class="waves-effect waves-light btn-small lime edit-btn" href="{% url 'pasien:edit_pasien' pasien.0 %}">
                                <i class="material-icons">edit</i>
                            </a>
                            <a class="btn-small waves-effect waves-light red delete-btn"><i
                                    class="material-icons">delete</i></a>
                            <a class="waves-effect waves-light btn-small detail-btn modal-trigger"
                                href="#modal1">Detail</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'pasien/js/pasien.js' %}"></script>
{% endblock scripts %}
