{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Rumah Sakit{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Rumah Sakit</h3>
    <div class="card-panel">
        <form class="col s12" id="rumahSakit-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="kodeFaskes" id="kodeFaskes-select">
                        <option value="" disabled selected>Pilih...</option>
                        {% for data in faskes %}
                        <option value="{{data.0}}">{{data.0}}</option>
                        {% endfor %}
                    </select>
                    <label>Kode Faskes</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">local_hospital</i>
                    <label>
                        <input id="rujukan" name="rujukan" type="checkbox"/>
                        <span>Rujukan?</span>
                    </label>
                </div>
            </div>
        </form>
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Rumah Sakit
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'rumahSakit/js/rumahSakit.js' %}"></script>
{% endblock scripts %}