{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Rumah Sakit{% endblock title %}

{% block content %}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Rumah Sakit</h5>
        <form class="col s12" id="rumahSakit-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">room</i>
                    <input placeholder="" name="kodeFaskes" id="kodeFaskes" name="kodeFaskes" type="text" class="" readonly>
                    <label for="kodeFaskes">Faskes</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">local_hospital</i>
                    <label>
                        <input id="rujukan" name="rujukan" type="checkbox" />
                        <span>Rujukan?</span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Rumah Sakit</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No</th>
                    <th>Kode</th>
                    <th>Rujukan?</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for hospital in hospitals %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ hospital.0 }}</td>
                    <td>
                        {% if hospital.1 == '1' %}
                        <i class="material-icons">check</i>
                        {% else %}
                        <i class="material-icons">close</i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#modal1" class="waves-effect waves-light modal-trigger btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'rumahSakit/js/rumahSakit.js' %}"></script>
{% endblock scripts %}