{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}Buat Jadwal Faskes{% endblock title %}

{% block content %}
<div class="container">
    <h3 class="login center-align green-text text-darken-2">Buat Faskes</h3>
    <div class="card-panel">
        <form class="col s12" id="jadwalFaskes-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">list</i>
                    <select name="kodeFaskes" id="kodeFaskes-select">
                        <option value="" disabled selected>Pilih...</option>
                        {% for data in faskes %}
                        <option value="{{data.0}}">{{data.0}}</option>
                        {% endfor %}
                    </select>
                    <label>Kode Faskes</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">filter_tilt_shift</i>
                    <input placeholder="Contoh: 06:00-12:00" id="shift" name="shift" type="text" class="validate">
                    <label for="shift">Shift</label>
                </div>
                <div class="input-field col s12 m4">
                    <i class="material-icons prefix">date_range</i>
                    <input placeholder="Masukkan tanggal" id="tanggal" name="tanggal" type="text" class="datepicker">
                    <label for="tanggal">Tanggal</label>
                </div>
            </div>
            <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;"></blockquote>
            <button class="btn waves-effect waves-light" type="button" id="btn-buat">Buat Jadwal
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'faskes/js/jadwalFaskes.js' %}"></script>
{% endblock scripts %}