{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Faskes{% endblock title %}

{% block content %}

<div id="modal1" class="modal">
    <div class="modal-content">
        <h5 id="detail-header">Form Update Faskes</h5>
        <blockquote id="message-modal" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <form class="col s12" id="faskes-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" name="kodeFaskes" id="kodeFaskes" type="text" class="" readonly>
                    <label for="kodeFaskes">Kode Faskes</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="tipe" id="tipe-select">
                        <option value="" disabled selected>Pilih...</option>
                        <option value="Rumah Sakit">Rumah Sakit</option>
                        <option value="Puskesmas">Puskesmas</option>
                        <option value="Klinik">Klinik</option>
                    </select>
                    <label>Tipe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">hotel</i>
                    <input placeholder="" name="nama" id="nama" type="text" class="validate">
                    <label for="nama">Nama Faskes</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">list</i>
                    <select name="status" id="status-select">
                        <option value="" disabled selected>Pilih...</option>
                        <option value="Pemerintah Provinsi">Pemerintah Provinsi</option>
                        <option value="Kementerian Kesehatan">Kementerian Kesehatan</option>
                    </select>
                    <label>Status Kepemilikan</label>
                </div>
            </div>
            <p class="blue-text text-darken-2">Alamat:</p>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">place</i>
                    <input name="jalan" id="jalan" type="text" class="validate">
                    <label for="jalan">Jalan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">place</i>
                    <input name="kelurahan" id="kelurahan" type="text" class="validate">
                    <label for="kelurahan">Kelurahan</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">place</i>
                    <input name="kecamatan" id="kecamatan" type="text" class="validate">
                    <label for="kecamatan">Kecamatan</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">place</i>
                    <input name="kabupaten" id="kabupaten" type="text" class="validate">
                    <label for="kabupaten">Kabupaten/ Kota</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">place</i>
                    <input name="provinsi" id="provinsi" type="text" class="validate">
                    <label for="provinsi">Provinsi</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-small waves-effect waves-light" type="button" id="kirim-btn">Perbaharui
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Faskes</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No</th>
                    <th>Kode Faskes</th>
                    <th>Tipe</th>
                    <th>Nama Faskes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for data in faskes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ data.0 }}</td>
                    <td>{{ data.1 }}</td>
                    <td>{{ data.2 }}</td>
                    <td>
                        <a href="#modal1" class="modal-trigger waves-effect waves-light btn-small lime edit-btn">
                            <i class="material-icons">edit</i>
                        </a>
                        <a class="btn-small waves-effect waves-light red delete-btn">
                            <i class="material-icons">delete</i>
                        </a>
                        <a class="waves-effect waves-light btn-small detail-btn modal-trigger" href="#modal1">Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'faskes/js/faskes.js' %}"></script>
{% endblock scripts %}