{% extends "base.html" %}
{% load static %}

{% block css %}
{% endblock css%}

{% block title %}List Jadwal Faskes{% endblock title %}

{% block content %}

<div class="container">
    <h3 class="login center-align green-text text-darken-2">List Jadwal Faskes</h3>
    <div class="card-panel">
        <blockquote id="message" class="green-text text-darken-2" style="margin-top: 10px; margin-bottom: 10px;">
        </blockquote>
        <table class="highlight responsive-table">
            <thead class="highlight responsive-table">
                <tr>
                    <th>No</th>
                    <th>Faskes</th>
                    <th>Shift</th>
                    <th>Tanggal</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for jadwal in jadwals %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ jadwal.0 }}</td>
                    <td>{{ jadwal.1 }}</td>
                    <td>{{ jadwal.2 | date:'Y-m-d' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}